body{
	background-image: url(https://lifeglobe.net/x/entry/630/New_Year_wallpapers_Snowflakes___New_Year_011363__3.jpg);
}
div#d{
	color: white;
	background-color: blue;
	font-size: 45px;
	border-style: solid;
	border-radius: 25px;
	opacity: .5;
}
div#d:hover{
	font-size:50px;
	transition:scale(1.5,1.5);
    transition:0.5s;
    opacity:.8;
    background-color:#4242d7;
}
